@font-face {
    font-family: "Montserrat";
    src: url(../fonts/static/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "PTSerif";
    src: url(../fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: "Quite Chocolatey";
    src: url(../fonts/Quite\ Chocolatey.ttf);
}

@font-face {
    font-family: "Couture";
    src: url(../fonts/couture-bld.otf);
}

* {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #eeeeee;
    padding: 0;
}

/*header*/

.menu {
    height: 690px;
    position: relative;
    background-image: url(../img/mainlayer.png);

}

.menu__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px;
    margin-bottom: 80px;
}

.logo {
    font-size: 90px;
    font-family: "Quite Chocolatey";
    color: rgb(255, 255, 255);
    line-height: 0.367;
    text-align: center;
}

.nav li a {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 2px;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #19162b;
    color: #fff;
    border-radius: 5px;
    -webkit-transform: scale(2);
    -ms-ransform: scale(2);
    transform: scale(2);
    transition: .3s;
}

.under__header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 450px 0 75px;
}

.sell__car {
    text-transform: uppercase;
    font-size: 90px;
    font-family: "Montserrat";
    color: rgb(25, 22, 43);
    font-weight: bold;
    line-height: 90px;
}

.sell__car span {
    color: rgb(255, 255, 255);
}

.under__header__text {
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(255, 255, 255);
    line-height: 30px;
    padding-top: 30px;
}

/*Services*/

.services__inner {
    height: 490px;
    position: relative;
}

.main__item {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: left;
    padding-left: 60px;
    font-size: 50px;
    font-family: "Couture";
    color: rgb(170, 40, 27);
    font-weight: bold;
    line-height: 1.6;
}

.main__item span {
    color: rgb(25, 22, 43);
}

.all__items {
    display: flex;
    align-items: flex-end;
}

.item {
    text-align: center;
}

.text {
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(28, 28, 28);
    line-height: 1.4;
    margin: 40px 58px;
    text-align: center;
}

/*Under Services*/

.under__services {
    height: 120px;
    position: relative;
}

.business {
    display: flex;
    background-color: rgb(25, 22, 43);
    padding: 30px 60px;
}

.text__under__items {
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin-right: 80px;
}

.our__story__btn {
    padding: 22px 75px;
    background-color: #aa281b;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.273;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.our__story__btn:hover {
    background-color: #aa281b;
    color: #fff;
    transition: .05s;
    box-shadow: 0 0 10px rgba(170, 40, 27);
}

/*Pricing*/

.pricing {
    height: 620px;
    position: relative;
}

.pricing__inner {
    text-align: center;
    padding: 30px 0 30px 0;
}

.pricing__title {
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Montserrat";
    color: rgb(25, 22, 43);
    font-weight: bold;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 0 85px 60px 85px;
}

.item__card {
    text-align: center;
    background-color: #fff;
    min-width: 315px;
    min-height: 390px;
    padding: 20px 35px;
    box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.2);
    border-radius: 5px;
}

.card__name {
    font-size: 22px;
    font-family: "PTSerif";
    color: rgb(28, 28, 28);
    line-height: 1.273;
}

.price {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Montserrat";
    color: rgb(170, 40, 27);
    font-weight: bold;
    line-height: 1.333;
}

.card__text {
    text-transform: capitalize;
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(28, 28, 28);
    line-height: 1.4;
}

.btn__card {
    padding: 10px 60px;
    background-color: #19162b;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.273;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.btn__card:hover {
    background-color: #aa281b;
    color: #fff;
    transition: .05s;
    box-shadow: 0 0 10px rgba(170, 40, 27);
}

/*Footer*/

.footer__inner {
    height: 190px;
    position: relative;
    background-color: #19162b;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text__footer {
    text-transform: capitalize;
    font-size: 20px;
    font-family: "PTSerif";
    color: rgb(255, 255, 255);
    line-height: 1.1;
}

.text__footer span {
    color: rgb(170, 40, 27);
}

.logo__footer {
    font-size: 60px;
    font-family: "Quite Chocolatey";
    color: rgb(170, 40, 27);
    line-height: 0.367;
    text-align: center;
}